# !!! FILE MANAGED BY SALT !!!
#
# Shorewall version {{ pkg_version }} 
# Copyright (C) 2006 by the Shorewall Team
#
# This library is free software; you can redistribute it and/or
# modify it under the terms of the GNU Lesser General Public
# License as published by the Free Software Foundation; either
# version 2.1 of the License, or (at your option) any later version.
#
# https://shorewall.org/manpages/shorewall-hosts.html
#
# See the file README.txt for further details.
#------------------------------------------------------------------------------
# For information about entries in this file, type "man shorewall-hosts"
###############################################################################
#ZONE              HOST(S)          OPTIONS

{%- for hosts in salt['pillar.get']('shorewall:hosts', {}) %}
{%- if hosts is string %}
{{ hosts }}
{%- else %}
# {{ hosts.get('comment', '') }}
{{ hosts.get('zone') }}  {{ hosts.get('host', '-') }}  {{ hosts.get('options', '-') }}
{%- endif %}
{%- endfor %}
